{% if page.katex %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/katex-v0.13.11/katex.min.css"/>
<script type="text/javascript" defer src="{{ site.baseurl }}/assets/katex-v0.13.11/katex.min.js"></script>
<script type="text/javascript" defer src="{{ site.baseurl }}/assets/katex-v0.13.11/contrib/auto-render.min.js"></script>
<script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {});
      });

</script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/katex.css"/>
{% endif %}