<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">

    {% if page.katex %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/katex-v0.13.11/katex.min.css"/>
    <script type="text/javascript" defer src="{{ site.baseurl }}/assets/katex-v0.13.11/katex.min.js"></script>
    <script type="text/javascript" defer src="{{ site.baseurl }}/assets/katex-v0.13.11/contrib/auto-render.min.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {});
      });
    </script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/katex.css" />
    {% endif %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/search">Search</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <p class="safe-harbour">Opinions are my own and not the views of my employer.</p>
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
